{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" ng-app>
<meta charset="utf-8">
<title>{% trans "angular"|title %}</title>

{% block header_files %}
<!-- Le javascript -->
<script type="text/javascript" src="{{ STATIC_URL }}angular/js/angular.js"></script>
{% endblock %}

{% block extra_header_file %}
{% endblock %}

</head>

<body>

{% block container %}
<div>

    {% block header %}
        <div>
            {% block content_header %}
                <h1>{% trans "angularjs"|title %}<small></small></h1>
            {% endblock %}
        </div>
        <hr/>
    {% endblock %}

    {% block content %}
    <!-- CONTENT BLOCK -->
    {% endblock %}

</div><!-- div container -->
{% endblock %}

</body>
</html>
